aside.menu.hidden
  article.chapter
    h4 Личный кабинет
    a(href="/").auth-link Вход в Личный кабинет
  article.chapter
    h4 Как это работает
    a(href="/") Условия использования сервиса
    a(href="/") Способы оплаты
    a(href="/") Часто задаваемые вопросы
    a(href="/") Служба поддержки