section.partners.wrapper-narrow
  h2 С нами работают
  ul.partners-list
    li
      img(src="assets/img/partner1.png")
      span Партнёр 1
    li
      img(src="assets/img/partner2.png")
      span Компания-партнер с длинным названием
    li
      img(src="assets/img/partner3.png")
      span Партнёр 3
    li
      img(src="assets/img/partner4.png")
      span Название партнёра 4
    li
      img(src="assets/img/partner5.png")
      span Компания-партнёра 5
    li
      img(src="assets/img/partner6.png")
      span Партнёр 6<br>с длинным названием